extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img(src=`/img/destinos_${viaje.imagen}_ln.jpg`, alt="imagen viaje", class="img-fluid")
            .col-md-7
                h1 #{viaje.titulo}
                p.city-name
                    svg.icon.icon-tabler.icon-tabler-map-pin-2(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5' stroke='#F86F03' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                        path(d='M12 18.5l-3 -1.5l-6 3v-13l6 -3l6 3l6 -3v7')
                        path(d='M9 4v13')
                        path(d='M15 7v5')
                        path(d='M21.121 20.121a3 3 0 1 0 -4.242 0c.418 .419 1.125 1.045 2.121 1.879c1.051 -.89 1.759 -1.516 2.121 -1.879z')
                        path(d='M19 18v.01')
                    |  #{viaje.imagen}
                p 
                    svg.icon.icon-tabler.icon-tabler-calendar-month(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5' stroke='#F86F03' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                        path(d='M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z')
                        path(d='M16 3v4')
                        path(d='M8 3v4')
                        path(d='M4 11h16')
                        path(d='M7 14h.013')
                        path(d='M10.01 14h.005')
                        path(d='M13.01 14h.005')
                        path(d='M16.015 14h.005')
                        path(d='M13.015 17h.005')
                        path(d='M7.01 17h.005')
                        path(d='M10.01 17h.005')
                    |  #{viaje.fecha_ida} - #{viaje.fecha_vuelta}

                p 
                    svg.icon.icon-tabler.icon-tabler-coin-euro(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5' stroke='#F86F03' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                        path(d='M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0')
                        path(d='M14.401 8c-.669 -.628 -1.5 -1 -2.401 -1c-2.21 0 -4 2.239 -4 5s1.79 5 4 5c.9 0 1.731 -.372 2.4 -1')
                        path(d='M7 10.5h4')
                        path(d='M7 13.5h4')
                    |  #{viaje.precio} Euros

                p
                    svg.icon.icon-tabler.icon-tabler-users-group(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5' stroke='#F86F03' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                        path(d='M10 13a2 2 0 1 0 4 0a2 2 0 0 0 -4 0')
                        path(d='M8 21v-1a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v1')
                        path(d='M15 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0')
                        path(d='M17 10h2a2 2 0 0 1 2 2v1')
                        path(d='M5 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0')
                        path(d='M3 13v-1a2 2 0 0 1 2 -2h2')
                    |  #{viaje.disponibles} Disponibles

                p= viaje.descripcion

                